<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message Board</title>
  <link rel="stylesheet" href="/theme.css">
  <link rel="stylesheet" href="/index.css">
</head>

<body>
  <h1>Mini Message Board</h1>
  <div class="card-container">
    <% messages.map(message => { %>
    <div class="card">
      <div class="profile" style="background-color: <%= stringToColor(message.user) %>">
        <%= message.user.charAt(0) %>
      </div>
      <div class="message">
        <div class="user"><%= message.user %></div>
        <div class="text"><%= message.text %></div>
        <div class="date"><%= message.added %></div>
      </div>
    </div>
    <% }) %>
    <a href="/new">Add New Message</a>
  </div>
</body>

<script>
  document.querySelector('a').scrollIntoView();
</script>

</html>